export(binomcdf,binompdf,chi2cdf,chi2pdf,Fcdf,Fpdf,geometcdf,geometpdf,invNorm,normalcdf,normalpdf,poissoncdf,poissonpdf,tcdf,tpdf,.Last.lib)
import(stats,utils,tools)
.onUnload(.path.packages(pkgname))
